.story__container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 13px;
    
}
.story__title {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.stories {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 12px;
}
.add__story {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}
/* single story styles  */
.story > img {
  background-size: cover;
  border-radius: 44px;
  border: 2px solid var(--primaryColor);
  padding: 3px;
  cursor: pointer;
}
