  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    border-radius: 20px;
    /* background: #000; */

  }
.left__container {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  border-radius: 20px;
flex: 1;

}
.signup__form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  /* width: 100%; */
  padding: 20px;
  
}
.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  width: 100%;
}
.button__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}
.form__section {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width: 50%;
  gap: 30px;
}
.welcome__note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  /* display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 30px; */
  width: 100%;
}
.already__account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.form-error {
  color: red;
}
