.main__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 45px 120px;
  background-color: rgba(var(--lightGreen), 0.4);
}
.inner__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #fff;
  box-shadow: 5px 12px 10px 0px rgba(0, 0, 0, 0.25);
}
.left__container {
  border-radius: 20px 0px 0px 20px;
  background: linear-gradient(
    90deg,
    #54ee39 18.96%,
    rgba(84, 238, 57, 0) 99.68%
  );
  flex: 2;
  width: 100%;
  height: 85vh;
}
.moon__back__container{
  background-image: url('/public/photos/moon-back.png');
background-size: contain;
background-repeat: no-repeat;
  flex: 1;
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.right__container {
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-size: cover;
  
}
.overlay {
  background-image: url("/public/photos/login-back.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
.form__section {
  display: flex;
  align-items: center;
  width: 100%;
}
.form__section > form {
  display: flex;
  flex-direction: column;
  /* align-items:start; */
  width: 100%;
  gap: 22px;
}
.button__container{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}
.login__span {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 540px) {
  .main__container {
    padding: 50px 10px;
  }
  .left__container{
    background: linear-gradient(
        180deg,
        #54ee39 1.96%,
        rgba(84, 238, 57, 0.2) 50.68%
      );

  }
  .overlay{
    display: none;
  }
}
